#### GENERAL ####
material: # MATERIAL NAME
useTime: # TIME BETWEEN PLAYER CAN USE AGAIN CRATE, '0' FOR PLAYER CAN'T RE-USE
spawnTime: # TIME TO CRATE RESPAWN
pourcentSpawn: # POURCENT OF CRATES TO SPAWN

#### ANIMATIONS ####
effect: # EFFECT ON SPAWN, 'none' FOR NO EFFECT

#### FIREWORKS ####
fireworks:
  name: # NAME OF THE FIREWORK
    # COLORS AVAILABLE: AQUA, BLACK, BLUE, FUCSHIA, GRAY, GREEN, LIME, MAROON, NAVY, OLIVE, ORANGE, PURPLE, RED, SILVER, TEAL, WHITE, YELLOW
    colors: # COLORS ON EXPLODE SEPARATE BY COMMATE
    fade: # COLORS ON FADE SEPARATE BY COMMATE
    flicker: # IF CREPITEMENT
    trail: # IF TRAIL
    type: # TYPE OF THE FIREWORK (BALL, BALL_LARGE, BURST, CREEPER, STAR)

#### REWARDS LIST ####
rewards:
  POURCENT: # POURCENTAGE OF CHANCE, TOTAL MUST BE EQUAL TO 100
    - type: # TYPE OF CURRENCY
    - amount: # AMOUNT OF CURRENCY
    - firework: # TYPE OF FIREWORKS, 'none' FOR NO FIREWORK

#### CRATES LIST ####
crates:
  - world:0:0:0:NORTH