#### GENERAL ####
material: # MATERIAL NAME
useTime: # TIME BETWEEN PLAYER CAN USE AGAIN CRATE, '0' FOR PLAYER CAN'T RE-USE, '-1' FOR PLAYER CAN USE ILLIMITY
spawnTime: # TIME TO CRATE RESPAWN, '0' FOR STAY ALWAYS
pourcentSpawn: # POURCENT OF CRATES TO SPAWN

#### ANIMATIONS ####
effect: # EFFECT ON SPAWN, 'none' FOR NO EFFECT
sound: # SOUND TO PLAY ON PLAYER DISCOVER, 'none' FOR NO SOUND

#### FIREWORKS ####
fireworks:
  name: # NAME OF THE FIREWORK
    colors: # COLORS ON EXPLODE SEPARATE BY COMMATE FROM RGB
    fade: # COLORS ON FADE SEPARATE BY COMMATE FROM RGB
    flicker: # IF CREPITEMENT
    trail: # IF TRAIL
    type: # TYPE OF THE FIREWORK (BALL, BALL_LARGE, BURST, CREEPER, STAR)

#### REWARDS LIST ####
rewards:
  POURCENT: # POURCENTAGE OF CHANCE, TOTAL MUST BE EQUAL TO 100
    type: # TYPE OF CURRENCY
    amount: # AMOUNT OF CURRENCY
    firework: # TYPE OF FIREWORKS, 'none' FOR NO FIREWORK

#### CRATES LIST ####
crates:
- world:x:y:z:DIRECTION